<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>hcmuaf.edu.vn.fit.pj_tt_ltw.Controller.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>hcmuaf.edu.vn.fit.pj_tt_ltw.Controller.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>hcmuaf.edu.vn.fit.pj_tt_ltw.Controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/forgetPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>captchaServlet</servlet-name>
        <servlet-class>hcmuaf.edu.vn.fit.pj_tt_ltw.Controller.CaptchaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>captchaServlet</servlet-name>
        <url-pattern>/captchaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>hcmuaf.edu.vn.fit.pj_tt_ltw.Controller.IndexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FilterServlet</servlet-name>
        <servlet-class>hcmuaf.edu.vn.fit.pj_tt_ltw.Controller.FilterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FilterServlet</servlet-name>
        <url-pattern>/FilterServlet</url-pattern>
    </servlet-mapping>
</web-app>